body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(hogwarts.jpg);
    background-position: center;
    background-size: cover;
}

#container{
    height: 500px;
    width: 500px;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    /* background-image: url(i6.jpeg);
    background-position:-300px;
    background-size: cover; */
}

#second, #minute, #hour {
    transition: transform 0.5s ease-in-out;
}

#second{
    position: relative;
    left: 48%;
    top: 49%;
    transform-origin: left;
    transform: rotate(-90deg);
    display: flex;
}

#second_hand{
    height: 2px;
    width: 125px;
    background-color: black;
    border-color: black;
    border-style: solid;
    position: relative;
    border-radius: 10px 10px 20px;
    /* left: 48%;
    top: 48%;
    transform-origin: left;
    transform: rotate(-90deg); */
}

#ron{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border-style: solid;
    object-fit: contain;
    background-image: url("ron.jpg");
    background-position: center;
    background-size: cover;
    
    /* transform: translateY(-10px); */
}


#minute{
    position: relative;
    left: 48%;
    top: 30%;
    transform-origin: left;
    transform: rotate(-90deg);
    display: flex;
}

#minute_hand{
    height: 2px;
    width: 145px;
    background-color: black;
    border-color: black;
    border-style: solid;
    position: relative;
    border-radius: 10px 10px 20px;
    /* left: 48%;
    top: 46%;
    transform-origin: left;
    transform: rotate(-90deg); */
}

#fred{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border-style: solid;
    background-image: url("fred.jpeg");
    background-position: center;
    background-size: cover;

    /* transform: translateY(-10px); */
}

#hour{
    position: relative;
    left: 48%;
    top: 20%;
    transform-origin: left;
    transform: rotate(-90deg);
    display: flex;
    /* transform: translateY(-300px); */
}


#hour_hand{
    height: 2px;
    width: 170px;
    background-color: black;
    border-color: black;
    border-style: solid;
    position: relative;
    border-radius: 10px 10px 20px;
    /* left: 48%;
    top: 44%;
    transform-origin: left;
    transform: rotate(-90deg); */
}

#george{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border-style: solid;
    background-image: url("george.jpg");
    background-position: center;
    background-size: cover;
}

.number {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

#twelve { top: 19%; left: 51%; }
#one { top: 24%; left: 63%; }
#two { top: 34%; left: 69%; }
#three { top: 50%; left: 72%; }
#four { top: 64%; left: 69%; }
#five { top: 80%; left: 62%; }
#six { bottom: 10%; left: 48%; }
#seven { bottom: 18%; left: 40%; }
#eight { bottom: 34%; left: 37%; }
#nine { bottom: 50%; left: 35%; }
#ten { bottom: 64%; right: 63%; }
#eleven { bottom: 72%; right: 58%; }


#leviosa{
    height: 40px;
    width: 90px;
    padding: 15px;
    border-radius: 20px 50px;
    transform: translateX(-300px);
    border-style: solid;
}

#leviosa:hover{
    cursor: pointer;
    box-shadow: rgba(72, 135, 202, 0.8) 0 0 90px 33px;
}

.levitate{
    transform: translateY(-1000px);
    transition: transform 10s ease-in-out;
}
